.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #F4F4FC !important;
  opacity: 1 !important;
  margin-right: 14px !important;
}

.swiper-pagination-bullet-active {
  background-color: #7575E2 !important;
}

.swiper-pagination-bullet:last-child {
  margin-right: 40px !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin:0 var(--swiper-pagination-bullet-horizontal-gap, 0) !important;
  margin-right:14px !important;
  }
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child{
  margin-right:40px !important;
  }

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    display: flex !important;
    height: 16px !important;
    bottom: 22px !important;
    justify-content: flex-end !important;
}
